build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Bhavika2101/voter
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-voter
deploy:
  type: text
  content: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/Bhavika2101/voter
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - name: ""
    configType: artillery
    configPath: Bhavika2101/voter/
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2022-07-19T09:54:34.805Z
