app_dependencies:
  type: None
  content: ''
app_deploy:
  type: flux
  content:
    source_repo_url: main
    source_repo_branch: https://github.com/roost-io/voter
    dir_path: ./voter
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-01-20T05:32:20.456Z
