build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |2-
     #/bin/sh

    docker-compose -f voter/voter.yaml up -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: voter/voter.yaml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-03-28T08:46:54.811Z
