app_dependencies:
  type: None
  content: ''
app_deploy:
  type: flux
  content:
    source_repo_url: main
    source_repo_branch: https://github.com/roost-io/voter
    dir_path: ./voter
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-01-20T05:32:03.732Z
